@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-papaya: #ffecd1;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 769px;
  --breakpoint-lg: 1025px;
}

html {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge, Opera) */
.cards::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox and IE/Edge */
.cards {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth !important;
}
